<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/kaiiemsawat/Documents/PostEducationProject/Automation/SeleniumTestNg/testNG_2/TestNG_Practice/src/test/java/t06_dataProvider_01/DataProviderDemo1.java">
        <classes/>
    </test>
    <test verbose="2" preserve-order="true" name="/Users/kaiiemsawat/Documents/PostEducationProject/Automation/SeleniumTestNg/testNG_2/TestNG_Practice/src/test/java/t07_CsvData/ReadCSV.java">
        <classes><class name="t07_CsvData.ReadCSV">
            <methods>
                <include name="readDataLineByLine"/>
                <include name="readAllDataAtOnce"/>
            </methods>
        </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="/Users/kaiiemsawat/Documents/PostEducationProject/Automation/SeleniumTestNg/testNG_2/TestNG_Practice/src/test/java/t08_XlsxData/XlsxDataTestDemo.java">
        <classes>
            <class name="t08_XlsxData.XlsxDataTestDemo">
            <methods>
                <include name="loginTest"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>