<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="t10_listener.CustomListeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/kaiiemsawat/Documents/PostEducationProject/Automation/SeleniumTestNg/testNG_2/TestNG_Practice/src/test/java/t10_listener/ListenerDemo.java">
        <classes>
            <class name="t10_listener.ListenerDemo" />
        </classes>
    </test>
</suite>